.coverage
.github
*pytest*
*.spec
*.lock
*.swp
**/*pycache*

.circleci
.hokusai-tmp
.idea

.python-version

build
dist
docs

test

.dockerignore
Dockerfile

.git
.gitignore

CHANGELOG.md

hokusai.jpg
hokusai.spec

LICENSE.txt
Makefile

get-hokusai.sh
