boto3==1.9.162
botocore==1.12.162
click==6.7
click-repl==0.1.6
docutils==0.14
futures==3.2.0
hokusai==0.5.5
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
packaging==18.0
prompt-toolkit==1.0.16
pyparsing==2.4.0
python-dateutil==2.8.0
PyYAML==3.13
s3transfer==0.2.1
six==1.12.0
termcolor==1.1.0
urllib3==1.25.3
wcwidth==0.1.7

httpretty==0.8.14
mock==2.0.0
