.dockerignore
Dockerfile
.git
.gitignore

README.md
LICENSE
VERSION

.DS_Store
.AppleDouble
.LSOverride

env
.env
.env.*
log
*.log
tmp

{%- if 'nodejs' in project_type %}
node_modules
{%- endif %}

{%- if 'ruby' in project_type %}
.rspec
coverage/
spec/tmp
{%- endif %}

{%- if 'rails' in project_type %}
db/*.sqlite3
db/*.sqlite3-journal
public/system
{%- endif %}

{%- if 'python' in project_type %}
db/*.sqlite3
db/*.sqlite3-journal
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
{%- endif %}
